.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.App .column {
  width: 30%;
  margin: 1.5rem;
}

.droppable-col {
  min-height: 200px;
  background-color: gray;
  padding: 10px 10px 0 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}
.item {
  margin-bottom: 10px;
  background-color: gray;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
}

.item.dragging {
  background-color: coral;
}
.input-field {
  margin: 10px;
  background-color: blanchedalmond;
  border: none;
  outline: none;
  padding: 10px;
}

button {
  padding: 8px 16px;
  background-color: #d17e26;
  margin: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.fa-color {
  color: white;
}

.mr-2 {
  margin-right: 5px;
}
